@charset "UTF-8";
/*Eric MeyerÔÇÖs Reset Reloaded*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* remember to define focus styles! */
:focus { outline: 0; }

body { line-height: 1; padding: 0; margin: 0px; height: auto; /*background-image:url(page1.png); background-repeat:no-repeat;*/ }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; width: 100%; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

.group:before, .group:after { content: ""; display: table; }

.group:after { clear: both; }

.box-set:before, .box-set:after { content: ""; display: table; }

.box-set:after { clear: both; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.clearfix { display: inline-block; clear: both; }

html[xmlns] .clearfix { display: block; }

* html .clearfix { height: 1%; }

.copyr { margin: 0; color: #000; font-size: 0.6em; width: 100%; letter-spacing: 0.1em; font-family: bauber, sans-serif; line-height: 1.5em; }

a { font-family: Arial, Helvetica, sans-serif; font-size: 100%; text-decoration: none; }

h1 { font-family: Arial, Helvetica, sans-serif; font-size: 100%; }

img { width: 100%; max-width: 100%; height: auto; }

form, button { border: 0; margin: 0; padding: 0; }

.myCustomClass .qtip-content { font-size: 1.3em; width: 175px; height: 40px; outline: none; color: #1B7D7F; letter-spacing: 0.01em; font-family: arial, sans-serif; line-height: 1.5em; font-weight: bold; text-transform: uppercase; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; -o-transition: all ease .2s; -ms-transition: all ease .2s; transition: all ease .2s; border: 0; background-color: rgba(0, 0, 0, 0.7); }
.myCustomClass .qtip-content span:first-of-type { color: #fff; display: inline-block; font-size: 1.6em; width: 70%; font-size: 1.35em; letter-spacing: 0.02em; }
.myCustomClass .qtip-content span:last-of-type { color: #ea3411; display: inline-block; font-size: 1.2em; width: 29%; float: right; margin: 0; text-align: center; line-height: 1.5em; letter-spacing: 0.02em; }
.myCustomClass .qtip-default { background-color: rgba(0, 0, 0, 0.7); padding: 1%; }

/*Wrapper*/
#Wrapper { font-family: Arial, Helvetica, sans-serif; margin: auto; width: 75%; /*header*/ /*Navigation*/ /*Searchbar*/ /*Content*/ /*Footer*/ }
#Wrapper header { height: 85px; width: 100%; }
#Wrapper header #logo { width: 341px; margin: 0; }
#Wrapper nav { height: 40px; width: 100%; list-style: none; width: 100%; padding: 0px; margin: 0 0 5px 0; }
#Wrapper nav span { width: 18%; display: inline-block; float: right; height: 50%; }
#Wrapper nav span a { display: inline-block; height: 100%; line-height: 20px; width: 32%; font-size: 0.80em; text-decoration: none; color: black; border-right: 1px solid blue; text-align: center; }
#Wrapper nav span a:hover { color: blue; }
#Wrapper nav ul { width: 75%; padding: 0px; height: 40px; margin: 0px; }
#Wrapper nav ul li { float: left; width: 15%; height: 40px; margin-right: 5px; text-align: center; display: inline-block; }
#Wrapper nav ul li a { text-align: center; height: 40px; color: #000; line-height: 40px; display: block; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; -o-transition: all ease .2s; -ms-transition: all ease .2s; transition: all ease .2s; }
#Wrapper nav ul li a:hover { color: #ea3411; }
#Wrapper #searchbar { display: block; height: 50px; width: 100%; padding: 0; margin: 1% 0; }
#Wrapper #searchbar h1 { background-color: #999; width: 100%; margin: 5px 0px 0px 0px; height: 40px; color: #fff; font-size: 2em; text-indent: 10px; line-height: 40px; }
#Wrapper #searchbar input[type="submit"] { width: 7%; height: 30px; font-size: 1.1em; margin: 0 1.5%; background-color: #000; color: #FFF; border: 0; padding: 0; float: right; display: inline-block; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; -o-transition: all ease .2s; -ms-transition: all ease .2s; transition: all ease .2s; }
#Wrapper #searchbar input[type="submit"]:hover { background-color: #FFF; color: #000; }
#Wrapper #searchbar #searcher2 { color: #FFFFFF; background-color: #ea3411; margin: 0; padding-top: 0.8%; height: 40px; font-family: Arial, Helvetica, sans-serif; }
#Wrapper #searchbar #searcher2 label { font-size: 1.6em; height: 30px; width: 20%; line-height: 30px; margin: 1px 0px 0px 0px; display: block; float: left; text-align: center; }
#Wrapper #searchbar #searcher2 select { width: 17%; font-size: 1.3em; margin: 0; color: #999999; height: 30px; }
#Wrapper #content { height: auto; width: 100%; margin: 1% 0px; font-family: Arial, Helvetica, sans-serif; /*rightside content section within content div*/ /*leftbar*/ }
#Wrapper #content .text_boxa { width: 390px; height: 500px; float: right; }
#Wrapper #content .text_boxa li { list-style: none; color: #0099CC; width: 80%; margin: auto; font-family: Arial, Helvetica, sans-serif; font-size: 0.9em; line-height: 1.5em; }
#Wrapper #content #stylized #form { width: 100%; margin-left: auto; padding: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 1.1em; }
#Wrapper #content #stylized #form label { width: 100%; display: inline-block; line-height: 35px; }
#Wrapper #content #stylized #form input { width: 100%; margin-left: 0px; height: 30px; }
#Wrapper #content #stylized #form textarea { width: 100%; margin-left: 0px; }
#Wrapper #content #stylized #form #submit { margin: 10px auto; height: 30px; width: 20%; display: block; font-size: 1.2em; line-height: 15px; background-color: #ea3411; color: #FFF; border: 0; }
#Wrapper #content #stylized #form #submit:hover { line-height: 15px; background-color: #FFF; color: #ea3411; border: 0; cursor: pointer; }
#Wrapper #content .myform { width: 50%; }
#Wrapper #content .context { width: 50%; margin: 0px 0px 0px 3%; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; line-height: 1.6em; font-size: 0.8em; }
#Wrapper #content .context_title { font-weight: bold; color: #C60; font-size: 1.1em; }
#Wrapper #content #content_section { float: right; height: auto; width: 76%; margin: 0 0 20px 0; /*Index page banner box*/ /*product boxes*/ }
#Wrapper #content #content_section h1 { height: 40px; margin: 0px; text-indent: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 1.5em; line-height: 40px; }
#Wrapper #content #content_section #bannerbox { height: 400px; width: 100%; margin: 10px 0; }
#Wrapper #content #content_section #bannerbox p { font-family: Arial, Helvetica, sans-serif; font-size: 1.2em; height: auto; line-height: 35px; position: absolute; margin: 0; top: 170px; left: 425px; z-index: 2; width: 100%; }
#Wrapper #content #content_section #bannerbox p:first-line { font-size: 1.9em; color: #999999; }
#Wrapper #content #content_section #bannerbox #bannerboximg { width: 555px; height: 346px; margin: 0; padding: 0; display: inline-block; }
#Wrapper #content #content_section #bannerbox #apDiv1 { margin: 12% 3% 0 1%; width: 23%; height: 200px; float: left; display: inline-block; }
#Wrapper #content #content_section #bannerbox #apDiv1 a { background-color: #ea3411; display: inline-block; height: 35px; width: 100%; margin-top: 3%; color: #FFF; font-size: 1.25em; line-height: 35px; text-align: center; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; -o-transition: all ease .2s; -ms-transition: all ease .2s; transition: all ease .2s; }
#Wrapper #content #content_section #bannerbox #apDiv1 a:hover { background-color: #FFF; display: inline-block; height: 35px; width: 100%; float: left; margin-top: 3%; color: #ea3411; font-size: 1.35em; text-align: center; }
#Wrapper #content #content_section #bannerbox #btn_div { height: 150px; width: 100px; margin-left: 10px; position: relative; }
#Wrapper #content #content_section .product_boxes, #Wrapper #content #content_section form #results .product_boxes { display: block; height: 300px; width: 100%; /*Individual product box*/ }
#Wrapper #content #content_section .product_boxes h1, #Wrapper #content #content_section form #results .product_boxes h1 { height: 30px; margin: 0px; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 1em; line-height: 30px; }
#Wrapper #content #content_section .product_boxes p, #Wrapper #content #content_section form #results .product_boxes p { height: 10px; line-height: 0em; font-size: 0.8em; color: #0099CC; width: 100%; margin-top: 30px; font-weight: bold; height: 20px; text-indent: 5px; }
#Wrapper #content #content_section .product_boxes .product_box, #Wrapper #content #content_section form #results .product_boxes .product_box { height: auto; display: inline-block; width: 25%; float: left; font-family: Arial, Helvetica, sans-serif; margin-bottom: 15px; }
#Wrapper #content #content_section .product_boxes .product_box .product_boximg, #Wrapper #content #content_section form #results .product_boxes .product_box .product_boximg { width: 80%; margin: 5px auto; height: 180px; }
#Wrapper #content #content_section .product_boxes .product_box .product_boxdetails, #Wrapper #content #content_section form #results .product_boxes .product_box .product_boxdetails { width: 100%; height: 55px; margin: 0; padding: 4% 0 0 0; background-image: url("images/images/page1_24.png"); background-repeat: no-repeat; /*Price Icon*/ }
#Wrapper #content #content_section .product_boxes .product_box .product_boxdetails .price, #Wrapper #content #content_section form #results .product_boxes .product_box .product_boxdetails .price { height: 18px; line-height: 18px; font-size: 0.8em; margin: 3% 0 0 3%; font-weight: bold; display: inline-block; width: 70%; }
#Wrapper #content #content_section .product_boxes .product_box .product_boxdetails .product_icon, #Wrapper #content #content_section form #results .product_boxes .product_box .product_boxdetails .product_icon { float: right; display: block; margin: 1% 2% 0 0; }
#Wrapper #content #content_section .product_boxes .product_box .product_boxdetails .product_icon img, #Wrapper #content #content_section form #results .product_boxes .product_box .product_boxdetails .product_icon img { width: 100%; height: 100%; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; }
#Wrapper #content #content_section .product_boxes .product_box .product_boxdetails .product_icon img:hover, #Wrapper #content #content_section form #results .product_boxes .product_box .product_boxdetails .product_icon img:hover { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); cursor: pointer; }
#Wrapper #content #content_section #pag_search { width: 30%; display: inline-block; float: left; margin: 0 0 2% 0; padding: 0; }
#Wrapper #content #content_section #pag_search input[type="text"] { width: 60%; display: inline-block; height: 26px; margin: 0 1% 0 0; padding: 0; }
#Wrapper #content #content_section #pag_search input[type="submit"] { width: 0%; display: inline-block; width: 30%; height: 30px; background-color: #ea3411; color: #FFF; border: 0; }
#Wrapper #content #content_section #pag_search input[type="submit"]:hover { background-color: #FFF; color: #ea3411; border: 0; cursor: pointer; }
#Wrapper #content #content_section #pagination { height: 30px; width: 33%; display: block; margin: 0 0 2% 0; float: right; }
#Wrapper #content #content_section #pagination a { display: inline-block; height: 100%; width: 32%; font-size: 0.9em; line-height: 30px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; }
#Wrapper #content #content_section #pagination a:hover { font-size: 1.05em; }
#Wrapper #content #content_section #results { clear: both; }
#Wrapper #content #content_section .pag_buttons input[type="submit"], #Wrapper #content #content_section input[type="reset"] { display: inline-block; width: 10%; height: 30px; background-color: #ea3411; color: #FFF; border: 0; }
#Wrapper #content #left_bar { float: left; width: 23%; margin: 0 0 5px 0; font-family: Arial, Helvetica, sans-serif; /*Form*/ /*##searchbox #searchboximg{max-width:100%; position:relative; top:0; left:0; z-index:10;}*/ }
#Wrapper #content #left_bar #searchbox { width: 94%; height: 330px; margin: auto; }
#Wrapper #content #left_bar #searchbox #searcher { background-image: url("../images/images/search_03.png"); background-repeat: no-repeat; width: 90%; height: 320px; margin-bottom: 1%; margin: auto; }
#Wrapper #content #left_bar #searchbox #searcher h1 { font-size: 1.5em; color: #fff; width: 100%; text-align: center; line-height: 36px; height: 100px; }
#Wrapper #content #left_bar #searchbox #searcher select { width: 80%; height: 30px; font-size: 1.3em; margin: 5px auto; color: #999999; display: block; }
#Wrapper #content #left_bar #searchbox #searcher .find { width: 40%; height: 35px; font-size: 1.2em; line-height: 35px; margin: 5px 0 0 27.5%; background-color: #ea3411; display: block; color: #FFF; border: 0; outline: none; }
#Wrapper #content #left_bar #searchbox #searcher .find:hover { color: #ea3411; display: block; background-color: #FFF; border: 0; outline: none; cursor: pointer; }
#Wrapper #content #left_bar #sec_nav { margin: auto; height: auto; width: 94%; color: #7a7777; }
#Wrapper #content #left_bar #sec_nav #accordion { font-family: Arial, Helvetica, sans-serif; }
#Wrapper #content #left_bar #sec_nav #accordion ul { list-style: none; margin: 0; padding: 0; width: 100%; }
#Wrapper #content #left_bar #sec_nav #accordion ul li { line-height: 25px; margin: 5px; display: inline-block; height: 25px; font-size: 0.9em; width: 100%; text-align: left; }
#Wrapper #content #left_bar #sec_nav #accordion ul li:hover { font-weight: bold; }
#Wrapper .spacer { clear: both; height: 1px; }
#Wrapper footer { clear: both; height: 50px; width: 100%; }
#Wrapper footer ul.footer_nav { list-style: none; margin: auto; height: 50px; width: 70%; padding: 0px; }
#Wrapper footer ul.footer_nav li { float: left; width: 16.5%; height: 50px; margin: 0; text-align: center; display: inline-block; }
#Wrapper footer ul.footer_nav li a { text-align: center; line-height: 50px; height: 50px; color: #000; display: block; }
#Wrapper footer ul.footer_nav li a:hover { color: #F60; line-height: 50px; }

@media all and (max-width: 1024px) { .myCustomClass .qtip-content { font-size: 1.3em; width: 150px; height: 55px; line-height: 1.3em; }
  .myCustomClass .qtip-content span:first-of-type { font-size: 1.4em; }
  .myCustomClass .qtip-content span:last-of-type { font-size: 1em; margin: 0; }
  #Wrapper { width: 90%; }
  #Wrapper .text_boxa li { font-size: 0.8em; }
  #Wrapper #searchbar h1 { font-size: 1.5em; }
  #Wrapper #searchbar #searcher2 label { font-size: 1.4em; }
  #Wrapper nav li a { font-size: 0.9em; }
  #Wrapper #content .context { font-size: 0.75em; }
  #Wrapper #content #content_section #pagination { width: 35%; }
  #Wrapper #content #content_section #bannerbox { height: 330px; }
  #Wrapper #content #content_section #bannerbox p { top: 150px; left: 280px; font-size: 1.1em; }
  #Wrapper #content #content_section #bannerbox #bannerboximg { width: 511px; height: 346px; }
  #Wrapper #content #content_section #bannerbox #apDiv1 a { font-size: 1.15em; }
  #Wrapper #content #left_bar #searchbox #searcher h1 { font-size: 1.3em; }
  #Wrapper #content #stylized #form label { font-size: 0.9em; }
  #Wrapper #content #stylized #form #submit { font-size: 1.1em; }
  #Wrapper footer ul.footer_nav li a { font-size: 0.9em; } }
@media all and (max-width: 980px) { #Wrapper nav li a { font-size: 0.8em; }
  #Wrapper #searchbar #searcher2 label { font-size: 1.3em; }
  #Wrapper #content #content_section h1 { font-size: 1.3em; }
  #Wrapper #content #content_section #bannerbox p { top: 167px; left: 268px; font-size: 1em; line-height: 30px; }
  #Wrapper #content #content_section #bannerbox #bannerboximg { width: 489px; height: 285px; }
  #Wrapper #content #content_section #bannerbox #apDiv1 a { font-size: 1.15em; }
  #Wrapper #content #content_section #bannerbox #apDiv1 a:hover { font-size: 1.05em; }
  #Wrapper #content #left_bar #searchbox #searcher h1 { font-size: 1.2em; }
  #Wrapper footer ul.footer_nav li a { font-size: 0.8em; } }

/*# sourceMappingURL=style.css.map */
