/* old-standard-tt-regular - latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: url('OldStandard/old-standard-tt-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
    url('OldStandard/old-standard-tt-v7-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('OldStandard/old-standard-tt-v7-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('OldStandard/old-standard-tt-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('OldStandard/old-standard-tt-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('OldStandard/old-standard-tt-v7-latin-regular.svg#OldStandardTT')
      format('svg'); /* Legacy iOS */
}

/* old-standard-tt-700 - latin */
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  src: url('OldStandard/old-standard-tt-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Old Standard TT Bold'), local('OldStandardTT-Bold'),
    url('OldStandard/old-standard-tt-v7-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('OldStandard/old-standard-tt-v7-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('OldStandard/old-standard-tt-v7-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('OldStandard/old-standard-tt-v7-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('OldStandard/old-standard-tt-v7-latin-700.svg#OldStandardTT')
      format('svg'); /* Legacy iOS */
}
