node_modules
files/
build/
public/images/
public/images/original-images/
public/static/images/moreshoes/
public/font/
public/static/media/
public/static/data/
components/SearchBar/searchbar-components/
.env
.next/*


