# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

build/

.git/
.sass-cache/
Files/
dist/
githeadfiles/
src/js/qtip/
src/js/Respond-master/
src/js/jquery-ui-1.12.1.custom/
src/serviceWorker.js

nbproject/
src/font/
src/images/
src/images/images/
src/imagemap-qtip.txt
.htaccess
src/js/older-browser-scripts/
dist/
src/css/custom-theme/
src/css/custom-theme/images/
src/css/.sass-cache/
src/css/style.css.map
.gitignore
node_modules/
.sass-cache/

icons/

error_log
