//$font-list: "Old Standard TT", "Times New Roman", Georgia, serif;

$font-list: 'Old Standard TT', 'Times New Roman', serif;

$color-white: #ffffff;
$color-white-bg: #f9f9f9;
$color-orange: #ea3411;
$login-color: #0099cc;
$color-black: #000000;
$content-color: #999999;
$content-color1: #cbc5c5;
$content-color1a: #7a7777;

$content-color2: #333333;
$header-color: #ed735c;
