@font-face {
   font-family: 'Harabara_Bold';
   src: url('fonts/Harabara_Bold/Harabara.eot'); /* IE9 Compat Modes */
   src: url('fonts/Harabara_Bold/Harabara.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/Harabara_Bold/Harabara.woff') format('woff'), /* Modern Browsers */
   url('fonts/Harabara_Bold/Harabara.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('sfonts/Harabara_Bold/Harabara.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight:normal;
}

