@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23-Jun-2017, 20:13:07
    Author     : Ray
*/
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
html {
  background-image: url("../images/bg-img.png");
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  line-height: 1;
  padding: 0;
  margin: 0;
  height: auto;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

caption,
td,
th {
  text-align: left;
  font-weight: normal;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

.group:after,
.group:before {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.box-set:after,
.box-set:before {
  content: "";
  display: table;
}

.box-set:after {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
  clear: both;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

a {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  font-size: 100%;
  text-decoration: none;
}

h1 {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  font-size: 1em;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  outline: none;
}

button,
form {
  border: 0;
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  src: url("../font/OldStandard/old-standard-tt-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Old Standard TT Regular"), local("OldStandardTT-Regular"), url("../font/OldStandard/old-standard-tt-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../font/OldStandard/old-standard-tt-v7-latin-regular.woff2") format("woff2"), url("../font/OldStandard/old-standard-tt-v7-latin-regular.woff") format("woff"), url("../font/OldStandard/old-standard-tt-v7-latin-regular.ttf") format("truetype"), url("../font/OldStandard/old-standard-tt-v7-latin-regular.svg#OldStandardTT") format("svg");
  /* Legacy iOS */
}
/* old-standard-tt-700 - latin */
@font-face {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 700;
  src: url("../font/OldStandard/old-standard-tt-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Old Standard TT Bold"), local("OldStandardTT-Bold"), url("../font/OldStandard/old-standard-tt-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../font/OldStandard/old-standard-tt-v7-latin-700.woff2") format("woff2"), url("../font/OldStandard/old-standard-tt-v7-latin-700.woff") format("woff"), url("../font/OldStandard/old-standard-tt-v7-latin-700.ttf") format("truetype"), url("../font/OldStandard/old-standard-tt-v7-latin-700.svg#OldStandardTT") format("svg");
  /* Legacy iOS */
}
#wrapper {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 0 0.5em;
  display: block;
  background-color: #ffffff;
  /*Searchbar*/
  /*Content*/
  /*Footer*/
}
#wrapper button#sidebar-toggle-btn {
  display: block;
  position: fixed;
  left: 91%;
  z-index: 100;
  top: 8.5em;
  width: 60px;
  height: 100px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ea3411;
  color: #ea3411;
  line-height: 100px;
  text-align: center;
  font-size: 1em;
}
#wrapper button#sidebar-toggle-btn:hover {
  background-color: #ea3411;
  cursor: pointer;
  border: 2px solid #ed735c;
  color: #ffffff;
  font-weight: bold;
}
#wrapper button#menu-toggle-btn {
  display: block;
  position: fixed;
  top: 0.25em;
  left: 83%;
  z-index: 4;
  width: 16%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ea3411;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #000000;
  color: #000000;
  font-size: 0.9em;
}
#wrapper button#menu-toggle-btn:hover {
  background-color: #000000;
  cursor: pointer;
  border: 2px solid #ed735c;
  color: #ffffff;
  border: none;
}
#wrapper header {
  height: 85px;
  width: 100%;
}
#wrapper header figure#logo {
  width: 40%;
  margin: 0;
  padding: 0;
}
#wrapper nav#main-nav {
  height: 40px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 1%;
}
#wrapper nav#main-nav ul#inner-nav {
  display: none;
}
#wrapper nav#main-nav ul.mobile-nav.is-expanded {
  top: 0;
  display: block;
  width: 95%;
  background: #000000;
  position: fixed;
  z-index: 4;
  border: 1px solid #000000;
  height: 290px;
  padding: 1%;
}
#wrapper nav#main-nav ul.mobile-nav {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  display: block;
  width: 95%;
  background: #000000;
  position: fixed;
  z-index: 4;
  border: 1px solid #000000;
  height: 290px;
  top: -290px;
  padding: 1%;
}
#wrapper nav#main-nav ul.mobile-nav li {
  width: 100%;
  display: block;
  height: 45px;
  float: none;
  border-bottom: 2px solid #000000;
}
#wrapper nav#main-nav ul.mobile-nav li a {
  font-size: 1.1em;
  display: block;
  text-align: center;
  line-height: 45px;
  width: 100%;
  display: block;
  float: none;
  text-align: center;
  color: #000000;
  background-color: #ea3411;
}
#wrapper nav#main-nav ul.mobile-nav li a:hover {
  text-decoration: none;
  display: block;
  -moz-border-radius-topleft: none;
  -moz-border-radius-topright: none;
  -webkit-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #000000;
  color: #ffffff;
  border-bottom: none;
}
#wrapper nav#main-nav ul.mobile-nav li a:visited {
  background-color: #ffffff;
  color: #000000;
}
#wrapper nav#main-nav ul.mobile-nav li.selected a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#wrapper nav#main-nav ul.mobile-nav li.selected a:link {
  background-color: white;
}
#wrapper nav#main-nav ul.mobile-nav li.selected a:visited {
  background-color: white;
}
#wrapper nav#main-nav ul.mobile-nav span#signin-box {
  display: none;
}
#wrapper #search_category {
  display: block;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 1% 0;
  clear: both;
}
#wrapper #search_category button.search_category_btn {
  width: 10%;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  height: 35px;
  line-height: 35px;
  font-size: 1em;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  padding: 0;
  float: right;
  display: block;
  text-align: center;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-weight: bold;
}
#wrapper #search_category button.search_category_btn:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}
#wrapper #search_category #search_category_form {
  color: #ffffff;
  background-color: #ea3411;
  margin: 0;
  padding: 0.5em;
  height: auto;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#wrapper #search_category #search_category_form label {
  font-size: 1em;
  width: 20%;
  line-height: 35px;
  margin: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: left;
  text-transform: uppercase;
  text-indent: 0.1em;
  font-weight: bold;
}
#wrapper #search_category #search_category_form ::placeholder {
  color: #000;
}
#wrapper #search_category #search_category_form select {
  font-family: arial, sans-serif;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 17.5%;
  font-size: 0.9em;
  margin: 0 0.25em 0 0;
  color: #333333;
  height: 30px;
}
#wrapper #content {
  height: auto;
  width: 100%;
  margin: 0;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  /*rightside content section within content div*/
  /*leftbar*/
}
#wrapper #content h1 {
  background-color: #999999;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  width: 100%;
  margin: 1% 0 0;
  height: 40px;
  color: #ffffff;
  font-size: 1.2em;
  text-indent: 1%;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
#wrapper #content #other_products {
  margin-top: 2em;
  min-height: 400px;
  width: 100%;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-content: flex-start;
  align-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
#wrapper #content #other_products figure.other_product_box {
  padding: 0;
  height: auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 25%;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin-bottom: 15px;
}
#wrapper #content #other_products figure.other_product_box .other_product_boximg {
  width: 65%;
  display: block;
  margin: 0 auto;
  height: auto;
}
#wrapper #content #other_products figure.other_product_box figcaption.other_product_boxdetails {
  width: 100%;
  margin: 0;
  padding: 7% 0 0;
  background-image: url("../images/product-info-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  /*Price Icon*/
}
#wrapper #content #other_products figure.other_product_box figcaption.other_product_boxdetails p.other_product_name {
  color: #0099CC;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 85%;
  margin: 0;
  text-indent: 0.2em;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#wrapper #content #other_products figure.other_product_box figcaption.other_product_boxdetails p.other_product_price {
  height: auto;
  line-height: 25px;
  margin: 0;
  font-weight: bold;
  width: 100%;
  text-indent: 0.2em;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#wrapper #content #other_products figure.other_product_box figcaption.other_product_boxdetails img.other_cart_icon {
  display: block;
  width: 15%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 80%;
  top: 20%;
}
#wrapper #content #other_products figure.other_product_box figcaption.other_product_boxdetails img.other_cart_icon:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
#wrapper #content figure#productPagebox {
  padding: 0.1em;
  height: auto;
  width: 100%;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin-bottom: 15px;
  display: flex;
}
#wrapper #content figure#productPagebox #productPageimg {
  width: 40%;
  display: block;
  height: auto;
  padding: 7em;
}
#wrapper #content figure#productPagebox #productPagedetails {
  width: 60%;
  margin: 0;
  padding: 0.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  /*Price Icon*/
}
#wrapper #content figure#productPagebox #productPagedetails #productPagename {
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  text-indent: 0.2em;
}
#wrapper #content figure#productPagebox #productPagedetails #productPageprice {
  height: auto;
  line-height: 40px;
  margin: 0;
  font-weight: bold;
  text-indent: 0.2em;
}
#wrapper #content figure#productPagebox #productPagedetails img#cartPageicon {
  display: block;
  width: 5%;
}
#wrapper #content figure#productPagebox #productPagedetails img#cartPageicon:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
#wrapper #content figure#productPagebox #productPagedetails #upvotes-section button {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin: 0;
  height: 45px;
  width: 20%;
  display: block;
  font-size: 1.2em;
  line-height: 30px;
  background-color: #ea3411;
  color: #ffffff;
  border: 0;
  float: right;
}
#wrapper #content figure#productPagebox #productPagedetails #upvotes-section button:hover {
  background-color: #ffffff;
  color: #ea3411;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
#wrapper #content figure#productPagebox #productPagedetails #upvotes-section p {
  line-height: 50px;
}
#wrapper #content p {
  font-size: 0.95em;
  line-height: 1.6em;
}
#wrapper #content aside.contact_textbox {
  width: 96.5%;
  height: auto;
  display: block;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  float: left;
  background-color: #f9f9f9;
  padding: 1%;
  border: 2px #cbc5c5 solid;
  margin-bottom: 5%;
}
#wrapper #content aside.contact_textbox h1 {
  font-size: 1em;
  color: #ed735c;
  font-weight: bold;
  background-color: #ffffff;
  height: auto;
  line-height: 20px;
  text-indent: 0;
}
#wrapper #content aside.contact_textbox p {
  width: 100%;
  margin: auto;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.8em;
}
#wrapper #content #contact_form {
  width: 94%;
  height: 390px;
  float: left;
  display: block;
}
#wrapper #content #form {
  width: 100%;
  padding: 0;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
}
#wrapper #content #form ul {
  height: auto;
  display: block;
}
#wrapper #content #form ul li,
#wrapper #content #form ul li:nth-of-type(3) {
  height: auto;
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
  display: flex;
}
#wrapper #content #form ul li label,
#wrapper #content #form ul li:nth-of-type(3) label {
  width: 15%;
  float: left;
  line-height: 40px;
  height: 40px;
  font-size: 1em;
  text-align: center;
  margin: 0;
}
#wrapper #content #form ul li input,
#wrapper #content #form ul li:nth-of-type(3) input {
  width: 75%;
  height: 40px;
}
#wrapper #content #form ul li textarea,
#wrapper #content #form ul li:nth-of-type(3) textarea {
  width: 75%;
  margin: 0;
  padding: 0;
}
#wrapper #content #form ul li input:focus,
#wrapper #content #form ul li textarea:focus,
#wrapper #content #form ul li:nth-of-type(3) input:focus,
#wrapper #content #form ul li:nth-of-type(3) textarea:focus {
  background-color: #f9f9f9;
  outline: 0;
}
#wrapper #content #form ul li #submit,
#wrapper #content #form ul li:nth-of-type(3) #submit {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin: 0;
  height: 45px;
  width: 20%;
  display: inline-block;
  font-size: 1.2em;
  line-height: 30px;
  background-color: #ea3411;
  color: #ffffff;
  border: 0;
}
#wrapper #content #form ul li #submit:hover,
#wrapper #content #form ul li:nth-of-type(3) #submit:hover {
  background-color: #ffffff;
  color: #ea3411;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
#wrapper #content main#context {
  width: 95%;
  margin: 0;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  float: left;
  padding: 0 0.75em;
}
#wrapper #content span.context_title {
  font-weight: bold;
  color: #ea3411;
  font-size: 1.15em;
  height: auto;
  line-height: 25px;
  margin-bottom: 1%;
}
#wrapper #content #content_section {
  width: 100%;
  margin: 0 0 20px;
  /*Index page banner box*/
  /*product boxes*/
}
#wrapper #content #content_section form.search_products {
  margin-bottom: 1em;
}
#wrapper #content #content_section form.search_products select {
  font-family: arial, sans-serif;
  width: 35%;
  font-size: 0.9em;
  margin: 0 0.25em 0 0;
  color: #333333;
  height: 30px;
}
#wrapper #content #content_section h1 {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  height: 40px;
  background: none;
  color: #333333;
  margin: 0;
  text-indent: 5px;
  font-size: 1.5em;
  line-height: 40px;
}
#wrapper #content #content_section #bannerbox {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  border: solid 1px #7a7777;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
#wrapper #content #content_section #bannerbox hgroup {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  width: 100%;
  position: absolute;
  z-index: 3;
}
#wrapper #content #content_section #bannerbox hgroup h1 {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  font-size: 4.4vw;
  height: 70px;
  line-height: 75px;
  width: auto;
  font-weight: bold;
  color: #7a7777;
  letter-spacing: -0.08em;
  text-indent: 0;
}
#wrapper #content #content_section #bannerbox hgroup h2 {
  font-size: 1.5vw;
  color: #333333;
  font-weight: bold;
  letter-spacing: 0.001em;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  letter-spacing: -0.08em;
  width: auto;
  text-indent: 0;
}
#wrapper #content #content_section #bannerbox #bannerboximg {
  width: 59%;
  margin: 0;
  padding: 0;
  position: relative;
}
#wrapper #content #content_section #bannerbox nav#apDiv1 {
  position: relative;
  width: 35%;
  height: auto;
}
#wrapper #content #content_section #bannerbox nav#apDiv1 ul {
  width: 60%;
  padding-top: 35%;
  list-style: none;
  margin: 1em auto;
}
#wrapper #content #content_section #bannerbox nav#apDiv1 ul li {
  height: auto;
  display: block;
  width: 100%;
}
#wrapper #content #content_section #bannerbox nav#apDiv1 ul li a {
  background-color: #ea3411;
  display: block;
  height: 35px;
  width: 100%;
  margin-bottom: 0.2em;
  color: #ffffff;
  font-size: 1em;
  line-height: 35px;
  text-align: center;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#wrapper #content #content_section #bannerbox nav#apDiv1 ul li a:hover {
  background-color: #ffffff;
  color: #ea3411;
  font-weight: bold;
  text-align: center;
}
#wrapper #content #content_section #bannerbox #btn_div {
  height: 150px;
  width: 100px;
  margin-left: 10px;
  position: relative;
}
#wrapper #content #content_section .product_boxes {
  height: auto;
  width: 100%;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-content: flex-start;
  align-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  /*Individual product box*/
}
#wrapper #content #content_section .product_boxes h1 {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  height: 35px;
  margin: 0;
  text-align: left;
  font-size: 1em;
  line-height: 35px;
}
#wrapper #content #content_section .product_boxes figure.product_box {
  padding: 0.1em;
  height: auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 25%;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin-bottom: 15px;
}
#wrapper #content #content_section .product_boxes figure.product_box .product_boximg {
  width: 80%;
  display: block;
  margin: 5px auto;
  height: auto;
}
#wrapper #content #content_section .product_boxes figure.product_box figcaption.product_boxdetails {
  width: 100%;
  margin: 0;
  padding: 7% 0 0;
  background-image: url("../images/product-info-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  /*Price Icon*/
}
#wrapper #content #content_section .product_boxes figure.product_box figcaption.product_boxdetails p.product_name {
  color: #0099CC;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 85%;
  margin: 0;
  text-indent: 0.2em;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#wrapper #content #content_section .product_boxes figure.product_box figcaption.product_boxdetails p.product_price {
  height: auto;
  line-height: 25px;
  margin: 0;
  font-weight: bold;
  width: 100%;
  text-indent: 0.2em;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#wrapper #content #content_section .product_boxes figure.product_box figcaption.product_boxdetails img.cart_icon {
  display: block;
  width: 15%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 80%;
  top: 20%;
}
#wrapper #content #content_section .product_boxes figure.product_box figcaption.product_boxdetails img.cart_icon:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
#wrapper #content #content_section div.product_boxes_longer {
  display: block;
  height: 180px;
  width: 100%;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer {
  max-height: 180px;
  display: block;
  width: 100%;
  float: left;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  margin-bottom: 15px;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer img.product_boximg_longer {
  width: 18%;
  float: left;
  display: block;
  margin: 2.9% 1.5%;
  height: auto;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer {
  width: 79%;
  height: 150px;
  margin: 0;
  padding: 1%;
  display: block;
  float: left;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer h1 {
  background-image: url("../images/product_headline_bg.png");
  background-position: -3% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  height: auto;
  line-height: 45px;
  text-indent: 1em;
  font-size: 1em;
  color: #0099CC;
  font-weight: bold;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer p {
  float: right;
  width: 74%;
  height: auto;
  display: block;
  line-height: 1.5em;
  text-indent: 0;
  margin: 0;
  font-size: 1em;
  padding: 0 5% 0 0;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer span.price_longer:last-of-type {
  color: #0099CC;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer span.price_longer {
  height: auto;
  line-height: 50px;
  font-size: 1em;
  margin: 0;
  font-weight: bold;
  display: block;
  width: 24%;
  text-indent: 1%;
  /*Price Icon*/
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer span.price_longer img.product_icon_longer {
  float: left;
  display: block;
  margin: 0;
  width: 20%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#wrapper #content #content_section div.product_boxes_longer figure.product-box_longer figcaption.product_boxdetails_longer span.price_longer img.product_icon_longer:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
#wrapper #content #content_section #pag_search {
  width: 45%;
  display: block;
  float: left;
  margin: 0 0 2%;
  padding: 0;
}
#wrapper #content #content_section #pag_search select {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  width: 50%;
  display: inline-block;
  height: 30px;
  margin: 0 1% 0 0;
  padding: 0;
  line-height: 30px;
  font-size: 0.85em;
}
#wrapper #content #content_section #pag_search label {
  float: left;
  width: 39%;
  display: block;
  height: 30px;
  color: #000000;
  border: 0;
  line-height: 30px;
  font-size: 0.8em;
  text-transform: uppercase;
}
#wrapper #content #content_section #pag_search label:hover {
  background-color: #ffffff;
  color: #ea3411;
  border: 0;
  cursor: pointer;
}
#wrapper #content #content_section #pagination {
  height: 30px;
  width: 35%;
  display: block;
  margin: 0 0 2%;
  float: right;
}
#wrapper #content #content_section #pagination a {
  color: #ffffff;
  background-color: #ea3411;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 32%;
  font-size: 1em;
  line-height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#wrapper #content #content_section #pagination a:hover {
  font-weight: bold;
  cursor: pointer;
}
#wrapper #content #content_section #results {
  clear: both;
}
#wrapper #content #content_section .pag_buttons {
  display: block;
  margin: 2% 0;
  clear: both;
}
#wrapper #content #content_section .pag_buttons input[type=submit],
#wrapper #content #content_section .pag_buttons input[type=reset] {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  display: inline-block;
  width: 20%;
  height: 30px;
  line-height: 30px;
  background-color: #ea3411;
  color: #ffffff;
  border: 0;
  font-size: 1.1em;
  text-align: center;
  padding: 0;
}
#wrapper #content #content_section .pag_buttons input[type=submit]:hover,
#wrapper #content #content_section .pag_buttons input[type=reset]:hover {
  color: #ea3411;
  background-color: #ffffff;
}
#wrapper #content .left_bar {
  float: left;
  width: 100%;
  margin: 0 0 5px;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  /*Form*/
}
#wrapper #content .left_bar #searchbox {
  width: 94%;
  height: 330px;
  margin: auto;
}
#wrapper #content .left_bar #searchbox #searcher {
  background-image: url("../images/form-bg-comp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 320px;
  margin: auto;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
}
#wrapper #content .left_bar #searchbox #searcher h1 {
  font-size: 1.9em;
  background: none;
  color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 30px;
  height: 90px;
  text-indent: 0;
  letter-spacing: -0.08em;
  padding-top: 0.3em;
}
#wrapper #content .left_bar #searchbox #searcher select {
  font-family: sans-serif;
  width: 90%;
  height: 35px;
  font-size: 1em;
  margin: 0.5em auto;
  color: #999999;
  display: block;
}
#wrapper #content .left_bar #searchbox #searcher input.find {
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
  width: 60%;
  height: 40px;
  font-size: 1.1em;
  line-height: 40px;
  margin: auto;
  background-color: #ea3411;
  display: block;
  color: #ffffff;
  border: 0;
  outline: none;
}
#wrapper #content .left_bar #searchbox #searcher input.find:hover {
  color: #ea3411;
  display: block;
  background-color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
}
#wrapper #content .left_bar #acc_nav {
  margin: auto;
  height: auto;
  width: 94%;
  color: #7a7777;
  font-family: "Old Standard TT", arial, helvetica, sans-serif;
}
#wrapper #content .left_bar #acc_nav span {
  width: 8%;
}
#wrapper #content .left_bar #acc_nav div#accContainer {
  /* Style the buttons that are used to open and close the accordion panel */
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the accordion panel. Note: hidden by default */
}
#wrapper #content .left_bar #acc_nav div#accContainer button {
  font-size: 1rem;
  padding: 0;
  text-align: left;
  border-radius: unset;
  text-transform: uppercase;
  font-family: arial, sans-serif;
  cursor: pointer;
  background-color: #eee;
  line-height: 35px;
  height: 35px;
  text-indent: 0.2em;
}
#wrapper #content .left_bar #acc_nav div#accContainer button:focus {
  box-shadow: none;
}
#wrapper #content .left_bar #acc_nav div#accContainer .accordion:hover,
#wrapper #content .left_bar #acc_nav div#accContainer .active {
  background-color: #ccc;
}
#wrapper #content .left_bar #acc_nav div#accContainer .panel {
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}
#wrapper #content .left_bar #acc_nav div#accContainer .active:after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}
#wrapper #content .left_bar #acc_nav div#accContainer h3 {
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: #cbc5c5;
  padding: 1em 0;
  color: #0099CC;
  text-indent: 2%;
}
#wrapper #content .left_bar #acc_nav div#accContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
#wrapper #content .left_bar #acc_nav div#accContainer ul li {
  line-height: 35px;
  display: block;
  height: 35px;
  font-size: 1em;
  width: 100%;
  text-align: left;
  font-family: arial, sans-serif;
  text-indent: 0.5em;
}
#wrapper #content .left_bar #acc_nav div#accContainer ul li:hover {
  font-weight: bold;
  cursor: pointer;
}
#wrapper .spacer {
  clear: both;
  height: 1px;
}
#wrapper footer {
  clear: both;
  height: 50px;
  width: 100%;
}
#wrapper footer ul.footer_nav {
  list-style: none;
  margin: auto;
  height: 50px;
  width: 85%;
  padding: 0;
}
#wrapper footer ul.footer_nav li {
  float: left;
  width: 16.5%;
  height: 50px;
  margin: 0;
  text-align: center;
  display: block;
}
#wrapper footer ul.footer_nav li a {
  text-align: center;
  line-height: 50px;
  height: 50px;
  color: #000000;
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
}
#wrapper footer ul.footer_nav li a:hover {
  color: #ea3411;
  line-height: 50px;
  font-weight: bold;
}

p.copyr {
  margin: 2% auto;
  font-size: 0.6em;
  width: 50%;
  letter-spacing: 0.1em;
}

/*# sourceMappingURL=style.css.map */
